{% extends "admin/base_site.html" %}
{% block extrastyle %} 
	{{ block.super }}
	<link rel="stylesheet" href="http://dev.openlayers.org/releases/OpenLayers-2.13.1/theme/default/style.css" type="text/css">
	<link rel="stylesheet" href="{{STATIC_URL}}geopapurls/css/preview.css" type="text/css">
{% endblock %}
{% block extrahead %} 
	{{ block.super }}
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js"></script>
	<script type="text/javascript">
        var map, layer;
        $('document').ready(function(){
        	var WGS84 = new OpenLayers.Projection("EPSG:4326");
			var GM = new OpenLayers.Projection("EPSG:3857");
			var is_mercator = {{ object.supports_3857|yesno:"true,false" }};
			var projection = null;
			var layers = Array();
        	{% if object.supports_3857 %}
        		projection = GM.projCode
        	{% else %}
        		projection = WGS84.projCode;
        	{% endif %}
            map = new OpenLayers.Map('map',{projection:projection});
            map.addControl(new OpenLayers.Control.LayerSwitcher());
            if (is_mercator){
				osm = new OpenLayers.Layer.OSM();
				layers.push(osm);
			}
			var layer_wms_is_base_layer = !is_mercator;
            var layer_wms = new OpenLayers.Layer.WMS("{{ object.title }}",
            									"{{ object.service.getmapurl }}",
						            		{layers:"{{ object.name }}",format:"image/png",transparent:true},
						            		{isBaseLayer:layer_wms_is_base_layer,singleTile: true,projection:projection});
			layers.push(layer_wms)
            map.addLayers(layers);
            var mapbounds = new OpenLayers.Bounds({{ bounds_xmin }},{{ bounds_ymin }},{{ bounds_xmax }},{{ bounds_ymax }});
            if (is_mercator){
            	mapbounds = mapbounds.transform(WGS84, GM);
            }
            map.zoomToExtent(mapbounds);
        })
    </script>
{% endblock %}

{% block content_title %}<span class="navbar-brand">Layer preview</span>{% endblock %}
{% block content %}
    <h3>[{{ object.service.name }}] {{ object.title }}</h3>
    <div id="map" class="mediummap"></div>
{% endblock %}