{% extends "admin/base_site.html" %}
{% load geopapurls_tags %}
{% block content_title %}<span class="navbar-brand">Layers</span>{% endblock %}
{% block content %}
<div class="table-responsive">
<table class="table table-striped table-condensed">
	<tbody>
		<tr>
		    <th>Servizio</th>
		    <th>Titolo</th>
		    <th>CRS</th>
		    <th class="text-right">Gestione</th>
  		</tr>
  		{% for layer in layer_list %}
  		<tr>
      		<td>{{ layer.service.name }}</td>
		    <td>{{ layer.title }}</td>
		    <td>{{ layer.supported_crs }}</td>
		    <td class="text-right">
				<a href="/mapurls/{{ layer.id }}/preview" target="_blank">Preview</a>&nbsp
				{% if layer.supports_4326 %}
				<a href="/mapurls/{{ layer.id }}" target="_blank">Mapurl</a>&nbsp
				<a href="/mapurls/{{ layer.id }}/download" target="_blank">Download</a>
				{% endif %}
    		</td>
  		</tr>
  		{% endfor %}
	</tbody>
</table>
</div>
<div align="center">
	<span class="current">
		{% if page_obj.has_previous %}
            <a href="{% url_add_query page=page_obj.previous_page_number %}"><</a>&nbsp
        {% endif %}
	    Page {{ page_obj.number }} of {{ paginator.num_pages }}
	    {% if page_obj.has_next %}
            &nbsp<a href="{% url_add_query page=page_obj.next_page_number %}">></a>
        {% endif %}
	</span>
</div>
{% endblock %}
{% block footer %}{% endblock %}